#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp C_MUTE       &none              &kp ENTER       &none
                &kp ESC           &kp C_PLAY_PAUSE   &kp C_PLAY_PAUSE &kp F5
                &kp LG(LS(Y))     &kp C_PREVIOUS     &kp C_NEXT       &kp LG(W)
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp TAB LS(TAB)
            >;
        };
    };
};
