.zmk/
.vscode/
build/
assets/
firmware/.zmk/
firmware/build/
firmware/build-standard-local.sh
firmware/builds/standard/
firmware/build-out/
firmware/zephyr/
firmware/modules/
firmware/tools/
firmware/zmk/
prototype/firmware/.zmk/
prototype/firmware/build/
prototype/firmware/build-out/
prototype/firmware/zephyr/
prototype/firmware/modules/
prototype/firmware/tools/
prototype/firmware/zmk/
*.uf2
*.hex
*.bin
/hardware/protoMIDI-KiCAD/protoMIDI-KiCAD-backups
hardware/protoMIDI-KiCAD/
*.lck
*.kicad_pro
PLAN.md
resources/**/.git/
resources/**/*.pdf
resources/**/*.zip
resources/**/*.tar
resources/**/*.tar.*
resources/**/*.tgz
resources/**/*.kicad_sym
hardware/CAD/
