.zmk/
build/
firmware/.zmk/
firmware/build/
firmware/build-out/
firmware/zephyr/
firmware/modules/
firmware/tools/
firmware/zmk/
*.uf2
*.hex
*.bin
/hardware/protoMIDI-KiCAD/protoMIDI-KiCAD-backups
*.lck
*.kicad_pro
PLAN.md
CAD/
